html {
  border-left: 5px solid lightgray;
}

/* Body styling */
body {
  min-height: 100vh;  /* Ensure the body is at least 100% of the viewport height */
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto; /* Center the body content */
  line-height: 1.6;
}

/* Header, main, and footer padding */
header, main, footer {
  padding: 1rem 2rem;
}

/* Styling for the h1 */
h1 {
  color: tomato;
}

/* Images to take up 100% width */
img {
  width: 100%;
}

/* Navigation styles */
ul {
  padding: 0;
  list-style-type: none;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
}

.main-nav ul li {
  margin: 0;
}

.main-nav a {
  color: lightgray;
  text-decoration: none;
}

/* Footer navigation styles */
.footer-nav ul {
  display: flex;
  justify-content: space-between;
}

.footer-nav a {
  color: tomato;
  text-decoration: none;
}

/* Blog post title styling */
article h2 {
  font-size: 2rem;
  color: #333;
}

/* Styling for the 'continues...' links */
.continue-link {
  text-align: right;
  font-weight: bold;
  color: tomato;
  display: block;
}

/* Article padding, border, and margin */
article {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

/* First letter drop cap for paragraphs */
article p::first-letter {
  color: lightgray;
  font-size: 2.5em;
  font-weight: bold;
}

/* Footer copyright styling */
footer p {
  color: lightgray;
  font-size: 0.9em;
  margin-top: 1rem;
}
